.content-block-title{
	position: relative;
	margin:0;
	padding:15px 15px;
	color: #000;
	font-size: 16px;
	background: #fff;
	overflow: visible;
}
.list-select{
	position: absolute;
	padding-right: 10px;
	z-index: 999;
	right: 16px;
	top: 3px;
}
.list-select:before{
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: 16px;
	right: 0px;
	border-top: 8px solid #000;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	z-index: 0;
	transition: transform .3s;
	-webkit-transition: transform .3s;
}
.list-select.active:before{
	transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.item-inner{
	padding-left: 15px;
	font-size: 16px;
	font-family: sans-serif;
}
.picker-year{
	border: 0;
	width: 40px;
	padding: 10px 0;
	color: #000;
	font-size: 16px;
}
::-webkit-input-placeholder{
	color: #000;
}

.no-data{
	padding:15px;
	text-align: center;
	color: #888;
	
}
.no-data .iconfont{
	font-size: 25px;
	color: #C5C5C5;
	margin-right: 10px;
}