<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>优惠券管理</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
	    <link rel="stylesheet" href="../../css/framework7.ios.min.css" />
	    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	    <link rel="stylesheet" href="coupon.css" />
	</head>
	<body>
		<div class="views">
			<div class="view view-main" data-page="tabs-static">
				<div class="navbar">
					<div class="navbar-inner navbar-on-center">
						<div class="left">
							<a href="#" close class="back link">
								<i class="iconfont icon-fenxiang"></i>
								<span>返回</span>
							</a>
						</div>
						<div class="center" style="font-weight: normal;">优惠券管理</div>
						<div class="right" open-href="couponSelectType.html" open-name="couponSelectType">
							<a href="#" style="font-size: 16px;">添加</a>
						</div>
						<div class="subnavbar sliding">
      						<div class="buttons-row">
      							<a href="#tab1" class="button tab-link active">发放中</a>
      							<a href="#tab2" class="button tab-link ">已领完</a>
      							<a href="#tab3" class="button tab-link ">已过期</a>
      							<a href="#tab4" class="button tab-link">已停用</a>
      						</div>
    					</div>
					</div>
				</div>
				<div class="pages navbar-through toolbar-through">
					<div data-page="tabs-static with-subnavbar" class="page tabs page-on-center">
						<div id="tab1" class="tab page-content  active infinite-scroll pull-to-refresh-content" data-ptr-distance="55">
							<div class="pull-to-refresh-layer">
							    <div class="preloader"></div>
							    <div class="pull-to-refresh-arrow"></div>
						   	</div>
						   	<div class="list-block media-list sortable">
			        	 	<div class="no-coupon" v-if="selling.length==0">
			        	 		<i class="iconfont icon-toufangguanli"></i>暂无发放中的优惠券
			        	 	</div>
			        	 	<ul >
			        	 		<li v-for="el in selling">
			        	 			<div class="item-content" @click="openCouponDetail(el)">
						            	<div class="item-media"><img v-bind:src="imgUrl+typeImg[(el.type_code)]+png" width="80"></div>
						            	<div class="item-inner" >
						                	<div class="item-title-row">
						                		<div class="item-title">类型：{{type[el.type_code]}}</div>
						                	</div>
						                	<div class="item-subtitle">{{{'折扣':el.discount+'折','满减':'满'+el.full_amount+'减'+el.minus_amount
                                            ,'菜品券':el.description}[el.type]}}</div>						                	
						                	<div class="item-text">总计：{{el.count}}     剩余：{{el.count - el.sold_count}}  已领取：{{el.sold_count}}</div>
						                	<div class="item-text">有效期：{{el.start_time}}至{{el.end_time}}</div>
						              </div>
						            </div>
			        	 		</li>
			        	 	</ul>
			        	 </div>
						</div>
						<div id="tab2" class="tab page-content  infinite-scroll pull-to-refresh-content" data-ptr-distance="55">
							<div class="pull-to-refresh-layer">
							    <div class="preloader"></div>
							    <div class="pull-to-refresh-arrow"></div>
						   	</div>
						   	<div class="list-block media-list sortable">
			        		<div class="no-coupon" v-if="sold_out.length==0">
			        	 		<i class="iconfont icon-toufangguanli"></i>暂无已领完的优惠券
			        	 	</div>
			        	 	<ul v-if="sold_out.length!=0">
			        	 		<li v-for="el in sold_out">
			        	 			<div class="item-content" @click="openCouponDetail(el)">
						            	<div class="item-media"><img v-bind:src="imgUrl+typeImg[(el.type_code)]+png" width="80"></div>
						            	<div class="item-inner">
						                	<div class="item-title-row">
						                		<div class="item-title">类型：{{type[el.type_code]}}</div>
						                	</div>
						                	<div class="item-subtitle">{{{'折扣':el.discount+'折','满减':'满'+el.full_amount+'减'+el.minus_amount
                                            ,'菜品券':el.description}[el.type]}}</div>	
						                	<div class="item-text">总计：{{el.count}}     剩余：{{el.count - el.sold_count}}  已领取：{{el.sold_count}}</div>
						                	<div class="item-text">有效期：{{el.start_time}}至{{el.end_time}}</div>
						              </div>
						            </div>
			        	 		</li>
			        	 	</ul>
			        	</div>
						</div>
						<div id="tab3" class="tab page-content  infinite-scroll pull-to-refresh-content" data-ptr-distance="55">
							<div class="pull-to-refresh-layer">
							    <div class="preloader"></div>
							    <div class="pull-to-refresh-arrow"></div>
						   	</div>
						   	<div class="list-block expired media-list sortable">
			        	 	<div class="no-coupon" v-if="expired.length==0">
			        	 		<i class="iconfont icon-toufangguanli"></i>暂无过期的优惠券
			        	 	</div>
			        	 	<ul v-if="expired.length!=0">
			        	 		<li v-for="el in expired">
			        	 			<div class="item-content">
						            	<div class="item-media"><img v-bind:src="imgUrl+typeImg[(el.type_code)]+png" width="80"></div>
						            	<div class="item-inner">
						                	<div class="item-title-row">
						                		<div class="item-title">类型：{{type[el.type_code]}}</div>
						                	</div>
						                	<div class="item-subtitle">{{{'折扣':el.discount+'折','满减':'满'+el.full_amount+'减'+el.minus_amount
                                            ,'菜品券':el.description}[el.type]}}</div>						                	
						                	<div class="item-text">总计：{{el.count}}     剩余：{{el.count - el.sold_count}}  已领取：{{el.sold_count}}</div>
						                	<div class="item-text">有效期：{{el.start_time}}至{{el.end_time}}</div>
						              </div>
						            </div>
			        	 		</li>
			        	 		
			        	 	</ul>
			        	 </div>
						</div>
						<div id="tab4" class="tab page-content  infinite-scroll pull-to-refresh-content" data-ptr-distance="55">
									<div class="pull-to-refresh-layer">
									    <div class="preloader"></div>
									    <div class="pull-to-refresh-arrow"></div>
								   	</div>
								   	<div class="list-block media-list sortable">
					        		<div class="no-coupon" v-if="stopped.length==0">
					        	 		<i class="iconfont icon-toufangguanli"></i>暂无停用的优惠券
					        	 	</div>
					        	 	<ul v-if="stopped!=0">
					        	 		<li v-for="el in stopped">
					        	 			<div class="item-content" @click="openCouponDetail(el)">
								            	<div class="item-media"><img v-bind:src="imgUrl+typeImg[(el.type_code)]+png" width="80"></div>
								            	<div class="item-inner">
								                	<div class="item-title-row">
								                		<div class="item-title">类型：{{type[el.type_code]}}</div>
								                	</div>
								                	<div class="item-subtitle">{{{'折扣':el.discount+'折','满减':'满'+el.full_amount+'减'+el.minus_amount
                                            ,'菜品券':el.description}[el.type]}}</div>	
								                	<div class="item-text">总计：{{el.count}}     剩余：{{el.count - el.sold_count}}  已领取：{{el.sold_count}}</div>
								                	<div class="item-text">有效期：{{el.start_time}}至{{el.end_time}}</div>
								              </div>
								            </div>
					        	 		</li>
					        	 		
					        	 	</ul>
					        	</div>
								</div>
					</div>
				</div>				
			</div>				
		</div>
		</div>
		<script type="text/javascript" src="../../lib/framework7.js"></script>
		<script src="../../lib/vue.js"></script>
		<script src="../../js/app.js"></script>
		<script src="coupon.js"></script>
	</body>
</html>
