.vip-charts{
				background:#fff;
				width:100%;
				margin:0 auto;
			}
			.vip-charts p{
				padding:10px 10px 0;
				text-align: right;
			}
			.vip-charts p:nth-of-type(2) {
				color: #6a7fa5;
			}
			.vip-link{
				display: flex;
				text-align: center;
			}
			.vip-link div{
				font-size: 14px;
			}
			.vip-link .iconfont{
				color: #fff;
				border-radius: 5px;
				font-size: 28px;
				padding:5px;
			}
			.list-block{
				padding:10px;
				background: #fff;
				border-top: 1px solid #e5e5e5;
				border-bottom: 1px solid #e5e5e5;
			}
			.icon-huiyuan{
				background: #eb7120;
			}
			.icon-tuiguang{
				background: #20a1eb;
			}